@page
@using Webservice.ContextHelpers
@using DatabaseLibrary.Helpers
@inject DatabaseContextHelper context
@model TradingLibrary.Models.Transactions
@{
}

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Home">TradingDB</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/AccountSummary">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/AccountOrders">Orders</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/AccountTransactions">Transactions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/AccountOwnedSecurity">Owned Securities</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/AccountSecurityView">Securities</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div>
            @{
                string name = HttpContext.Session.GetString("AccountName");
            }
                <div class="text-right" ><strong>@name</strong></div>
                <a class="text-right" asp-page="/ClientPage">Logout</a>
            </div>
        </nav>
    </header>
        <h2>Transaction</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                <a >@Html.DisplayNameFor(model => model.Id)</a>
            </th>
            <th>
                <a >@Html.DisplayNameFor(model => model.Action)</a>
            </th>
            <th>
                <a >@Html.DisplayNameFor(model => model.Commission)</a>
            </th>
            <th>
                <a >@Html.DisplayNameFor(model => model.AveragePrice)</a>
            </th>
            <th>
                <a >@Html.DisplayNameFor(model => model.Price)</a>
            </th>
            <th>
                <a >@Html.DisplayNameFor(model => model.Quantity)</a>
            </th>
            <th>
                <a >@Html.DisplayNameFor(model => model.DateCreated)</a>
            </th>
            <th>
                <a >@Html.DisplayNameFor(model => model.RealizedPNL)</a>
            </th>
            @foreach (var item in TransactionsHelper_db.getCollection(context.DBContext))
            {
                int id = int.Parse(HttpContext.Session.GetString("AccountID"));
                if (id == @item.AccountRef)
                {
                <tr>
                    <td>@item.Id</td>
                    @{if(@item.Action == 0 || @item.Action == 1){
                    <td>Sell</td>
                    } else if(@item.Action == 2 || @item.Action == 3){
                    <td>Buy</td>
                    }
                    }
                    <td>@item.Commission</td>
                    <td>@item.AveragePrice</td>
                    <td>@item.Price</td>
                    <td>@item.Quantity</td>
                    <td>@item.DateCreated</td>
                    <td>@item.RealizedPNL</td>
                </tr>
                }

            }
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>