@page
@using Webservice.ContextHelpers
@using DatabaseLibrary.Helpers
@inject DatabaseContextHelper context
@model TradingLibrary.Models.Account_Summary
@{
}

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Home">TradingDB</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/AccountSummary">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/AccountOrders">Orders</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/AccountTransactions">Transactions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/AccountOwnedSecurity">Owned Securities</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/AccountSecurityView">Securities</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div>
            @{
                string name = "null";
                name = HttpContext.Session.GetString("AccountName");
            }
                <div class="text-right" ><strong>@name</strong></div>
                <a class="text-right" asp-page="/ClientPage">Logout</a>
            </div>
        </nav>
    </header>

        
<h2>Account Summary</h2>
            <a asp-page="/AccountAddFunds" >Manage Funds</a>
            @foreach (var item in Account_SummaryHelper_db.getCollection(context.DBContext))
            {

                int id = int.Parse(HttpContext.Session.GetString("AccountID"));
                if (id == @item.AccountRef)
                {
                    <div class="text-left" ><strong>Available Funds: @item.AvailableFunds</strong></div>
                    <div class="text-left" ><strong>Gross Position Value: @item.GrossPositionValue</strong></div>
                    <div class="text-left" ><strong>Net Liquidation: @item.NetLiquidation</strong></div>
                    break;
                }

            }
