@page
@using Webservice.ContextHelpers
@using DatabaseLibrary.Helpers
@inject DatabaseContextHelper context
@model TradingLibrary.Models.Brokers
@{
}

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Home">TradingDB</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/AdminAccountsView">Accounts</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/AdminBrokerView">Brokers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/AdminSecurityPage">Securities</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

<h2>Brokers</h2>
<p>
    <a asp-page="/AdminCreateBrokers">Create New Broker</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">@Html.DisplayNameFor(model => model.Name)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]">@Html.DisplayNameFor(model => model.Website)</a>
            </th>
            @foreach (var item in BrokersHelper_db.getCollection(context.DBContext))
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Website</td>
                </tr>
            }
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>